$mainColor: #7f4b13;
$carrotOrange: #fc8f1a;
$karry: #ffdfbe;
$serenade: #ffecd8;
$linen: #fff4e9;
$peachOrange: #ffca93;
$rajah: #feb567;
$colar: #ff7e5f;
$twine: #c9955d;
$twineOpacity: rgba(127, 75, 19, 0.42);

$lg: 62rem;
$md: 48rem;
$sm: 36rem;
$ssm: 26rem;
$sssm: 23rem;
$ssssm: 21rem;